body {
  display: flex;
  /* background-color: #e6c84f; */
  /* background-image: linear-gradient(315deg, #e6c84f 0%, #e8807f 74%); */
  background-image: url("https://images.unsplash.com/photo-1470137430626-983a37b8ea46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
}

.questions {
  flex-direction: column;
  display: flex;
  align-items: center;
  /* border: 1px solid rgb(216, 62, 190); */
  width: 25vw;
  height: 90vh;
  margin: 50px;
  /* background-color: #f29593 40%;
  background-image: linear-gradient(315deg, #f29593 40%, #f9e288); */
  background-color: #fce669;
  background-image: linear-gradient(315deg, #fce669 0%, #79da9e 80%);
  border-radius: 20px;
  font-weight: 100;
  box-shadow: 5px 5px rgb(5, 5, 5, 0.3);
  font-family: Times;
}
.formheader {
  /* border: 1px solid black; */
  font-size: 2em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  padding-right: 200px;
  /* padding: 18px; */
  border-radius: 20px;
  width: 100%;
}
.fheader {
  width: 100%;
  background-color: antiquewhite;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: Helvetica;
}
h3 {
  background-color: antiquewhite;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  font-family: Helvetica;
}
.post {
  /* border: 1px solid black; */
  background-color: antiquewhite;
  width: 150px;
  padding: 4px;
  border-radius: 10px;
  font-family: Helvetica;
}
.questionstyle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  /* border: 1px solid black; */
  justify-content: center;
  margin-left: 20%;
  margin-top: 40px;
  /* align-items: center; */
}

.nav {
  display: flex;
  /* justify-content: center; */
  height: 85px;
  width: 100vw;
  background: #fce669;
  color: white;
  text-align: center;
  font-family: Helvetica;
  font-size: 2em;
  align-items: center;
  padding: 5px;
}
.nav p {
  /* border: 1px solid black; */
  margin-left: 10%;
}
.logo {
  height: auto;
  width: 25vw;
}

.head {
  display: flex;
  /* margin: 10px; */
}

.list {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(12, 8, 8);
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 110vh;
  justify-content: center;
  /* border: 1px solid rgb(160, 17, 17); */
  box-shadow: 5px 10px rgb(5, 5, 5, 0.5);
}

.App {
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
  align-items: center;
}

.things {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid rgb(104, 133, 26); */
  width: 25vw;
  height: 90vh;
  margin: 50px;
  font-size: 10;
  background: antiquewhite;
  overflow-y: scroll;
  border-radius: 20px;
  box-shadow: 5px 5px rgb(5, 5, 5, 0.3);
}

.things img {
  height: 190px;
  width: 19vw;
  padding: 6px;
  border-radius: 20px;
  /* border: 1px solid black; */
}
.newimage {
  margin-left: 50px;
  height: 190px;
  width: 19vw;
  padding: 6px;
  border-radius: 20px;
}
.changeimage {
  margin-left: 60px;
}
.deletebutton {
  margin-left: 60px;
}

/* .add {
  content: "\002B";
} */
.changebutton {
  margin-left: 60px;
}
